.sidebar {
  width: var(--nav-width);
  background-color: var(--secondary-bg);
  padding: 2rem;
  position: fixed;
  height: 100vh;
  border-right: 1px solid rgba(100, 255, 218, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar Styles */
.sidebar-header h1 {
  margin-bottom: 0.2rem; /* Reduce el espacio debajo del nombre */
}

.sidebar-header h2 {
  margin-top: 0;
  margin-bottom: 0.2rem; /* Espacio después de "Backend" */
}

.sidebar-header h3 {
  margin-top: 0;
  margin-bottom: 0.5rem; /* Espacio después de "Developer" */
  font-size: 1.2rem; /* Tamaño coherente para la segunda parte del subtítulo */
}

.sidebar-header p {
  margin-top: 0.5rem; /* Espacio mínimo sobre el párrafo */
  margin-bottom: 1rem; /* Espacio después del párrafo */
}

.tagline {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

/* Navigation */
.nav-list {
  list-style: none;
}

.nav-item {
  margin-bottom: 5px;
  position: relative;
}

.nav-link {
  color: var(--text-secondary);
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  transition: var(--transition);
  display: inline-block;
  padding: 0.5rem 0;
  position: relative;
}

.nav-link::before {
  content: "▹";
  position: absolute;
  left: -20px;
  color: var(--accent-color);
  opacity: 0;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:hover::before {
  opacity: 1;
  left: -15px;
}

.nav-link.active {
  color: var(--accent-color);
}

.nav-link.active::before {
  content: "▹";
  position: absolute;
  left: -15px;
  color: var(--accent-color);
  opacity: 1;
}

/* estilos para boton de descarga */
.download-btn {
  background-color: var(--accent-color);
  color: var(--primary-bg);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 1rem;
}

.download-btn:hover {
  background-color: var(--secondary-bg);
  color: var(--accent-color);
  border: #64ffda 2px solid;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
